.env
/vendor/
/node_modules/
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/build/nul
public/hot
project-bolt-sb1-k2nk529k/
gh
winget
nul
